.main{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.address{
    margin-left: auto;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    gap:10px
}
.content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button{
    display:flex;
    gap: 300px;
}
.daily,.address{
    margin-top: 100px;
}
.daily{
    font-size: 100px;
    color: rgba(222, 222, 20, 0.778);
}
.address{
    padding: 50px;
    font-size: large;
}
.bread{
    padding: 30px;
}
li{
    margin-top: 20px;
}
